@tailwind base;
@tailwind components;
@tailwind utilities;



.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .app-content {
    visibility: visible;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .invisible-scrollbar::-webkit-scrollbar {
    -webkit-display: none;
    display: none;
  }
  .mask{
    mask-image: url('/pics/mask.svg');
    background-color: white;
    mask-repeat: no-repeat;
    color: orange;
    mask-size: 40px;
    
  }
  @keyframes light-beam {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
    100% {
      opacity: 0;
      transform: scale(1.5);
    }
  }
  
  .animate-light-beam {
    animation: light-beam 2s infinite;
  }
  