@tailwind base;
@tailwind components;
@tailwind utilities;


.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .app-content {
    visibility: visible;
  }
  